---
name: Benchmark (Manual)
on:
  workflow_dispatch:
    inputs:
      managers:
        description: 'Comma separated list of package managers to benchmark'
        required: true
        default: 'all'
      benchmarks:
        description: 'Command separated list of benchmarks to be executed'
        required: true
        default: 'all'
      fixtures:
        description: 'Comma separated list of fixtures to benchmark against'
        required: true
        default: 'all'
jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: nlf/total-rewrite
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: install hyperfine
        run: |
          wget https://github.com/sharkdp/hyperfine/releases/download/v1.11.0/hyperfine_1.11.0_amd64.deb
          sudo dpkg -i hyperfine_1.11.0_amd64.deb
      - name: run benchmarks
        run: ./benchmark.sh -m ${{ github.events.inputs.managers }} -b ${{ github.events.inputs.benchmarks }} -f ${{ github.events.inputs.fixtures }}
        shell: bash
