---
name: Benchmark CLI

on: repository_dispatch

jobs:
  benchmark:
    name: Benchmark CLI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: update npm
        run: sudo npm i -g npm@7
      - name: install hyperfine
        run: |
          wget https://github.com/sharkdp/hyperfine/releases/download/v1.11.0/hyperfine_1.11.0_amd64.deb
          sudo dpkg -i hyperfine_1.11.0_amd64.deb
      - name: Run Benchmark (Pull-Request)
        if: github.event.action == 'pull_request'
        env:
          PR_ID: ${{ github.event.client_payload.pr_id }}
          REPO: ${{ github.event.client_payload.repo }}
          OWNER: ${{ github.event.client_payload.owner }}
          GITHUB_TOKEN: ${{ secrets.NPM_DEPLOY_USER_PAT }}
        run: ./benchmark.sh -m npm@7,npm@npm/cli#pull/${PR_ID}/head -f app-large,app-medium -r
        shell: bash
